body {
    background-color: blanchedalmond;
}

.hero {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/Weather-BG.jpeg);
    background-position: 0%;
    background-size: auto;
}

form {
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    padding: 10px;
}

.row {
    border-color: black;
    border-radius: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 15px;
}

.card {
    border-color: black;
    border-radius: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 15px;
}